{% extends 'base.html' %}
{% block header %}
    {% block title %}Crear post{% endblock %}</h2>
{% endblock %}

{% block content %}
    <form method="POST">
        <label for="name">Titulo</label>
        <input type="text" name="title" id="title" required>
        <label for="name">Descripcion</label>
        <input type="text" name="body" id="body" required>
        <input type="submit" value="Crear post">
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div>
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
{% endblock %}