{% extends 'base.html' %}

{% block title %}Iniciar sesion{% endblock %}</h2>


{% block header_buttons %}
<a href="/auth/login">INICIAR SESION</a>
<a href="/auth/register">REGISTRARSE</a>
{% endblock %}

{% block header_section %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div>
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" style="text-align: center; color: white; font-size: 30px;"  >
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <div style="display: flex; justify-content: center; align-items: center;padding-top: 40px; ">
        <form method="POST" style="display: flex;flex-direction: column;background-color: rgb(101, 51, 110);padding: 50px;border-radius: 15px;justify-content: center; text-align: center;height: 100%; padding-bottom: 80px;">
            <h2 style="margin-top:10px ;">LOGIN</h2>
            <input type="text" name="username" id="username" placeholder="Username" required style="width: 250px;height: 30px; border-radius:100px; border: 1px solid rgb(101, 51, 110);">
            <input type="password" name="password" id="password" placeholder="Password" required style="width: 250px;height: 30px; border-radius:100px; border:1px solid rgb(101, 51, 110);margin-top:10px ">
            <input type="submit" value="Iniciar sesion" style="border-radius:100px; width: 250px; height: 40px; border: 1px solid rgb(101, 51, 110) ;margin-top:10px ">
        </form>
    </div>
{% endblock %}