{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}</h2>

{% block header_buttons %}<a href="/auth/logout">CERRAR SESIÓN</a>{% endblock %}

{% block header_section %}

{% endblock %}

{% block content_section %}
    <div style="width: 100%;height: 100%; display: grid; grid-template-columns:33% 33% 33%;gap: 1em;grid-template-rows:100%;">
        <div style="background-color: blue; height: 400px; margin-top: 50px;"><img src=""><h1>ING CIVIL</h1></div>
        <div style="background-color: blue;margin-top: 50px"><h1>ING SISTEMAS</h1></div>
        <div style="background-color: blue;margin-top: 50px"><h1>ING INDUSTRIAL</h1></div>
    </div>
{% endblock %}