{% extends 'base.html' %}

{% block extra_css %}<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">{% endblock %}

{% block title %}Inicio{% endblock %}</h2>

{% block header_buttons %}<a href="/auth/logout">CERRAR SESIÓN</a>{% endblock %}

{% block header_section %}

{% endblock %}

{% block content_section %}
    <div class="carreras_container">
        <div class="carreras"><a href="/home/sistemas"><img src="{{ url_for('static',filename='images/sistemas.jpeg') }}"></a></div>
        <div class="carreras"><a href="/home/civil"><img src="{{ url_for('static',filename='images/civil.jpg') }}"></a></div>
        <div class="carreras"><a href="/home/industrial"><img src="{{ url_for('static',filename='images/industrial.jpeg') }}"></a></div>
        <div class="carreras"><a href="/home/electromecanica"><img src="{{ url_for('static',filename='images/electromecanica.jpeg') }}"></a></div>
    </div>
{% endblock %}